# Dependencies Directory
node_modules

# Common Build / generate output directory
dist
production
build
build/release

# Cache
cache
.cache

# environtment
env
.env
.env.production
.env.build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
